
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.alert {
  box-shadow: 1px 2px 4px gainsboro;
}


.alert-info {
  color: white!important;
  background-color: #2c7cd7!important;
  border-color: transparent!important;
}


.alert-danger {
  color: white!important;
  background-color: #db334a!important;
  border-color: transparent!important;
}

.alert-info span, .alert-danger span {
  color: white;
}


.alert-heading {
  font-weight: inherit;
}


.card {
  box-shadow: 1px 2px 4px gainsboro;
}


@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}